@import "tailwindcss";

@theme {
  --color-secondary-fixed: #eae1d7;
  --color-inverse-surface: #30312f;
  --color-on-surface: #1b1c1a;
  --color-on-tertiary-fixed: #021f26;
  --color-inverse-on-surface: #f2f0ed;
  --color-primary-fixed: #ffdcbe;
  --color-on-error: #ffffff;
  --color-surface-container-highest: #e4e2df;
  --color-surface-tint: #74593f;
  --color-surface-variant: #e4e2df;
  --color-surface-container: #efeeeb;
  --color-tertiary-container: #c9e5ef;
  --color-on-surface-variant: #4f453d;
  --color-outline: #80756c;
  --color-on-primary: #ffffff;
  --color-secondary: #635e56;
  --color-tertiary-fixed-dim: #afcbd5;
  --color-on-secondary-fixed-variant: #4b463f;
  --color-primary-fixed-dim: #e3c0a0;
  --color-surface-bright: #fbf9f6;
  --color-on-secondary-container: #69635c;
  --color-tertiary-fixed: #cbe7f1;
  --color-on-secondary-fixed: #1f1b15;
  --color-on-tertiary-container: #4d6770;
  --color-on-tertiary-fixed-variant: #314b53;
  --color-surface-dim: #dbdad7;
  --color-outline-variant: #d2c4b9;
  --color-on-error-container: #93000a;
  --color-on-primary-fixed-variant: #5a422a;
  --color-background: #fbf9f6;
  --color-on-background: #1b1c1a;
  --color-on-secondary: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-inverse-primary: #e3c0a0;
  --color-error: #ba1a1a;
  --color-primary-container: #ffdab9;
  --color-primary: #74593f;
  --color-surface-container-high: #eae8e5;
  --color-surface-container-low: #f5f3f0;
  --color-tertiary: #48626b;
  --color-on-primary-fixed: #2a1704;
  --color-error-container: #ffdad6;
  --color-secondary-fixed-dim: #cdc5bc;
  --color-surface-container-lowest: #ffffff;
  --color-surface: #fbf9f6;
  --color-on-primary-container: #795e44;
  --color-secondary-container: #eae1d7;
  
  --font-headline: "Manrope", sans-serif;
  --font-display: "Manrope", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;

  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}
